<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Áreas - CEBE</title>
    <link rel="stylesheet" th:href="@{/css/adminnavstyle.css}">
    <link rel="stylesheet" th:href="@{/css/cursocontent.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="website icon" type="png" th:href="@{/img/logotipo.png}">
</head>

<body>
    <div th:replace="~{layouts/dashboardnav :: dashboardnav}"></div>
    <main>
    <h3>Gestión de áreas</h3>
    <form class="addcurso" autocomplete="off" method="post" th:action="@{/admin/cursos}">
        <div class="field">
            <input type="text" placeholder=" " id="nombre" name="nombre" required>
            <label>Nombre del área:</label>
        </div>
        <button class="add" type="submit"><i class="fa-solid fa-plus"></i></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre del área</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m: ${cursos}">
                <th th:text="${m.nombre}"></th>
                <td class="eliminarbg">
                    <form th:action="@{'/admin/cursos/eliminar/' + ${m.id}}" method="post" onsubmit="return confirmDelete()">
                        <button class="eliminar">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<script>
    function confirmDelete() {
        return confirm("¿Estás seguro de que deseas eliminar esta área? \nEsto eliminará los registros de notas asociados!");
    }
</script>

</body>

</html>