<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Áreas - CEBE</title>
    <link rel="stylesheet" th:href="@{/css/adminnavstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admincontent.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="website icon" type="png" th:href="@{/img/logotipo.png}">
</head>

<body>
    <div th:replace="~{layouts/dashboardnav :: dashboardnav}"></div>
    <main class="bienvenida">
        <h3>Configuración de Seguridad</h3>
        <form method="POST" th:action="@{/admin/password/update}">
            <div class="field">
                <input type="password" name="nuevaContrasena" id="pass" required />
                <label for="pass">Nueva contraseña</label>
            </div>
            <button type="submit">Actualizar Contraseña</button>
        </form>

        <div th:if="${success}" style="color: green; margin-top: 10px;">
            <p><i class="fa-solid fa-check"></i> Contraseña actualizada correctamente.</p>
        </div>
    </main>

</body>

</html>