<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment="nav" class="cebe-nav">
        <link rel="stylesheet" th:href="@{/css/nav.css}">
        <ul class="enlaces">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/about}">Información</a></li>
            <li><a th:href="@{/contact}">Contacto</a></li>
        </ul>
    </header>
</body>
</html>